/* body and misc element css */
body {
  background-color: #0e3386;
  margin-left: 0;
  margin-right: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #0e3386;
}

h3 {
  color: white;
}
/* setting the standings/schedule headings to red on blue background sections */
.schedule-standings-header {
  color: white;
}

.section-header {
  margin-bottom: 1.5rem;
}

/* navbar sectiion css  */
.navbar {
  background-color: #cc3433;
}

li {
  display: inline;
}

.site-nav a {
  text-decoration: none;
  color: #0e3386;
  letter-spacing: 1.5px;
}

.site-nav a:hover {
  color: white;
  border: 1px solid;
  border-radius: 3px;
}

.cubs-flag-nav {
  background-color: white;
  border: 2px #0e3386 solid;
  border-radius: 1px;
}

/* mlb section of page */

.mlb {
  padding: 1.5rem;
}

.chi-game {
  color: white;
  display: flex;
  gap: 2rem;
}

.mlb-schedule-container {
  display: flex;
  flex-direction: column;
}

.cubs-record-info p {
  color: white;
  margin-bottom: 0;
}

.cubs-record-header {
  color: white;
}

.current-inning {
  margin-top: 1rem;
}

.cubs-date-today {
  color: white;
}

.cubs-flag-mlb {
  width: 40%;
}

/* tripple aaa section of page */

.tripple-a {
  background-color: #cc3433;
  color: white;
  padding: 1.5rem;
}

/* double a styling */

.double-a {
  padding: 1.5rem;
}

/* advance a css styling */

.adv-a {
  padding: 1.5rem;
  background-color: #cc3433;
}

/* low a css styling */

.low-a {
  padding: 1.5rem;
}

/* prospect section styling */

.prospects {
  background-color: #cc3433;
  padding: 1.5rem;
}

/* cubs top 10 prospect table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 4px;
}

/* footer section styling */
footer {
  color: #fff;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p a {
  color: #fff;
  text-decoration: none;
}

p a:hover {
  color: #fff;
  border-bottom: 3px white solid;
}

.footer-cubs-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cubs-flag {
  background-color: white;
  border: 2px #cc3433 solid;
  border-radius: 1px;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facebook-share {
  width: 1.25rem;
}

.twitter-share {
  margin-left: 1.25rem;
}

.email-me {
  margin-bottom: 0.25rem;
}

.social-media-share {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-nav {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-nav a {
  color: #0e3386;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #0e3386;
  border-bottom: 3px solid #0e3386;
}

/* all level buttons styling */

.blue-milb-button {
  border-radius: 4px;
  background-color: #0e3386;
  border: none;
  text-align: center;
  font-size: 1rem;
  padding: 1.25rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.25rem;
}

.blue-milb-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.blue-milb-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.blue-milb-button:hover span {
  padding-right: 25px;
}

.blue-milb-button:hover span:after {
  opacity: 1;
  right: 0;
}

.blue-milb-button a {
  color: white;
}

.red-milb-button {
  border-radius: 4px;
  background-color: #cc3433;
  border: none;
  text-align: center;
  font-size: 1rem;
  padding: 1.25rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.25rem;
}

.red-milb-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.red-milb-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.red-milb-button:hover span {
  padding-right: 25px;
}

.red-milb-button:hover span:after {
  opacity: 1;
  right: 0;
}

.red-milb-button a {
  color: white;
}

/* setting media query for mobile */

@media screen and (max-width: 700px) {
  /* navbar media query */
  /* nav {
    flex-direction: column;
    align-items: stretch;
  } */

  nav ul {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  nav li {
    text-align: center;
    padding-bottom: 0.25rem;
  }

  li {
    padding-bottom: 0px;
  }

  .site-nav {
    display: flex;
    align-items: center;
    background-color: #0e3386;
    padding: 10px 20px;
  }

  .navbar-toggle {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }

  .navbar-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    top: 50%;
    margin-top: -1px;
    transition: all 0.2s ease-in-out;
  }

  .navbar-toggle span:first-child {
    transform: translateY(-6px);
  }

  .navbar-toggle span:last-child {
    transform: translateY(6px);
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #cc3433;
    padding: 10px;
    letter-spacing: 5px;
  }

  .navbar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar-menu li {
    margin-bottom: 10px;
  }

  .navbar-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    letter-spacing: 5px;
  }

  .navbar-menu.active {
    display: block;
    height: auto;
  }

  /* prospect table mobile settings */
  th,
  td {
    text-align: left;
    padding: 4px;
  }

  /* mlb section media query */
  .chi-game {
    gap: 0;
  }

  .footer-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
